.SleepForm {
	height: 100%;
	min-height: calc(100vh - var(--navbar-height));
	max-height: calc(100vh - var(--navbar-height));
	width: 100%;
	max-width: 100vw;
	background: var(--dark-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

.SleepForm .card {
	margin-top: 10px;
	min-height: 600px;
	width: 520px;
	padding: 24px 60px 0 36px; /* top right bottom left */
	background: var(--pure-white);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(110, 110, 237);
}
.SleepForm .card h2 {
	font-size: 26px;
	margin-bottom: 40px;
	font-weight: 600;
}
.SleepForm .card .error {
	color: red;
	background-color: black;
	padding: 10px;
	margin-top: 25px;
	font-weight: bold;
}
.SleepForm .card .form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding-bottom: 10px;
}
.SleepForm .card .form .input-field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin: 8px 0;
}
.SleepForm .card .form .input-field label {
	margin-bottom: 5px;
}
.SleepForm .card .form .input-field input {
	height: 60px;
	padding: 0 15px;
	font-size: 16px;
	border: solid 1px var(--border-color);
	width: 100%;
}
.SleepForm .card .form .btn {
	width: 100%;
	height: 70px;
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--dark-blue);
	border: none;
	cursor: pointer;
	margin-top: 15px;
	background-color: black;
}
.SleepForm .card .footer {
	border-top: solid 1px var(--border-color);
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
}
